<Files ~ "^.(htaccess|htpasswd)$">
	deny from all
</Files>

DirectoryIndex index.html index.htm index.php
order deny,allow

<IfModule mod_rewrite.c>
	Options +FollowSymlinks
	RewriteEngine On
	RewriteCond %{QUERY_STRING} ^(.*)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
</IfModule>
